body {
    font-family: Arial, sans-serif;
    background: url("/static/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result, .currency-box {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: black;
    margin-bottom: 20px;
}

.currency-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}